<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crwork.app"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".bt.ui.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".bt.ui.LitterWeighActivity"
            android:label="@string/xn_weighed_str" />
        <activity
            android:name=".bt.ui.LitterDataReportActivity"
            android:label="@string/xn_report_str"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".bt.ui.SettingsActivity"
            android:label="@string/settings_title_tip" />
        <activity
            android:name=".bt.ui.LitterDataUploadActivity"
            android:label="@string/action_analysis_str" />
        <activity android:name=".bt.ui.LitterDataFileExplorerActivity" />
        <!-- debug part start -->
        <activity android:name=".debug.ClientActivity" />
        <activity android:name=".debug.ServerActivity" />
        <activity
            android:name=".debug.NFCActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowBackground="@null"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />

            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- debug part end -->
        <activity
            android:name=".bt.ui.CitysManagement"
            android:label="@string/citys_management_str"></activity>
        <activity
            android:name=".bt.ui.LitterTypeManagement"
            android:label="@string/types_management_str"></activity>
        <activity
            android:name=".bt.ui.UsersManagement"
            android:label="@string/users_management_str"></activity>
    </application>

</manifest>